<div class="button-container">
  <a class="button-left" routerLink="/portfolio"><</a>
  <a class="button-right" routerLink="/">></a>
</div>
<div class="about-container">
    <div class="about-description">
      <h2>About Me</h2>
      <p>Hello, my name is Samuel Esquer Castro. I am a Frontend developer based in Guadalajara, Jalisco, México. I have three years of experience in computer programming making several projects from frontend, full stack and game design. In my free time, I enjoy playing music and playing basketball.</p>
      <p>I am currently studying a barchelor of Biomedical Engineer (an electronics speciallity) but if you want to colaborate with me try via the links above or feel free of sending me an email at:<br>Personal: samuelesquercastro@gmail.com<br>School: samuel.esquer0668@alumnos.udg.mx</p>
    </div>
    <div class="about-image">
      <img src="assets/me.jpg" alt="Picture of myself">
    </div>
  </div>
  