<body>
  <div class="button-container" *ngIf="!mobile">
    <a class="button-left" routerLink="/" (mouseenter)="showText1 = true" (mouseleave)="showText1 = false"><</a>
    <p *ngIf="showText1" style="position:fixed;top:58vh;left:0vw;white-space: nowrap;font-size: 18px;">Landing</p>
    <a class="button-right" routerLink="/about" (mouseenter)="showText2 = true" (mouseleave)="showText2 = false">></a>
    <p *ngIf="showText2" style="position:fixed;top:58vh;right:0vw;white-space: nowrap;font-size: 18px;">About me</p>
  </div>
  
<div id="pc-container" style="padding-top:75px;" *ngIf="!mobile">
  <ng-container *ngFor="let p of project">
  <section *ngIf="search === '' || p.tags.includes(search)" [ngClass]="p.id === 0 ? 'first project-sections': 'project-sections'">
      <div class="container md">
          <div class="row justify-content-start'">
              <div class="col align-self-center" style="padding-top: 40px; padding-bottom: 80px;">
                  <div [id]="p.target" class="carousel slide">
                      <div class="carousel-indicators">
                          <button *ngFor="let j of getRange(p.imgCount)" type="button" 
                          [attr.data-bs-target]="'#' + p.target" 
                          [attr.data-bs-slide-to]="j-1" 
                          [attr.aria-label]="'Slide ' + j"
                          [ngClass]="j === 1 ? 'active car-btn' : 'car-btn'" 
                          [attr.aria-current]="j === 1 ? true : null" ></button> 
                        </div>
                   <div class="carousel-inner">
                        <div *ngFor="let j of getRange(p.imgCount)" [ngClass]="j === 1 ? 'active carousel-item' : 'carousel-item'" >
                          <img [src]="'../assets/carousels/'+ p.img + '_' +j+'.png'" class="d-block w-100" [alt]="p.alt+j" height="280px">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + p.target" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + p.target" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
              </div>
              <div class="col" style="padding-top: 40px">
                  <h1 class="text-center">{{ p.title }}</h1>
                  <p style="text-align: justify;">{{ p.body }}
                      <a>You can take a look of it at: </a> <br>
                      <a *ngFor="let pl of p.links" [href]="pl.link">{{ pl.text }}<br></a>
                  </p>
                  <div>
                  <p>Made with:</p>
                  <p>{{ p.tools }}</p>
                  <div class="tags" *ngFor="let pt of p.tags">
                      <button [id]="pt" class="pill-tags" (click)="QuickSearch(pt)">{{ pt }}</button>
                  </div>
              </div>
              </div>
          </div>
      </div>
  <img [src]="'../assets/pet/'+p.pet" alt="..." 
      class="avatarComputer">
  </section>
</ng-container>
</div>

<div id="phone-container"*ngIf="mobile">
  <ng-container *ngFor="let p of project">
<section class="mobile-projects" *ngIf="search === '' || p.tags.includes(search)" >
  
  <div style="max-height: 0;">
    <img [src]="'../assets/pet/'+p.pet" alt="..." 
        class="avatarMobile">
  </div>
    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">{{ p.title }}</h3>
        <div [id]="p.target" class="carousel slide">
          <div class="carousel-indicators">
              <button *ngFor="let j of getRange(p.imgCount)" type="button" 
              [attr.data-bs-target]="'#' + p.target" 
              [attr.data-bs-slide-to]="j-1" 
              [attr.aria-label]="'Slide ' + j"
              [ngClass]="j === 1 ? 'active mob-indicator' : 'mob-indicator'" 
              [attr.aria-current]="j === 1 ? true : null" ></button> 
            </div>
       <div>
            <div *ngFor="let j of getRange(p.imgCount)" [ngClass]="j === 1 ? 'active carousel-item' : 'carousel-item'" >
              <img [src]="'../assets/carousels/'+ p.img + '_' +j+'.png'" class="d-block w-100" [alt]="p.alt+j" height="240px">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + p.target" data-bs-slide="prev" style="transform:translateY(125px)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + p.target" data-bs-slide="next" style="transform:translateY(125px)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div>
          <p style="text-align: justify; padding-top: 320px;">{{ p.body }}
            <a>You can take a look of it at: </a> <br>
            <a *ngFor="let pl of p.links" [href]="pl.link">{{ pl.text }}<br></a>
        </p>
        <div>
        <p>Made with:</p>
        <p>{{ p.tools }}</p>
          <div class="tags" *ngFor="let pt of p.tags">
              <button [id]="pt" class="pill-tags" (click)="QuickSearch(pt)">{{ pt }}</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
</ng-container>
<div class="line"></div>
</div>
<div class="line"></div>
</body>
