<div class="buttons" style="z-index: 2;">
    <a href="https://github.com/skijer"><img src="/assets/github.png"></a>
    <a href="https://www.facebook.com/samuel.esquercastro/"><a><img width="48" alt="Facebook logo" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg" style="padding-right: 2px;"></a></a>
    <a href="https://www.linkedin.com/in/samuel-esquer-castro-005b9a241/"><a><img width="48" alt="LinkedIn logo initials" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/512px-LinkedIn_logo_initials.png"></a></a>
    
  </div>
  <div class="pagination"style="z-index: 2;"[ngClass]="{ 'open': isPaginationOpen }">
    <div class="toggle" (click)="togglePagination()"><img src="/assets/bars-solid.png" width="48px" style="position: relative;"></div>
    <div class="links">
      <a routerLink="/portfolio">My Portfolio</a>
      <a routerLink="/">Landing Page (Game)</a>
      <a routerLink="/about">About Me</a>
    </div>
  </div>
  
  <div *ngIf="!mobile"><button class="close" (click)="togglePagination()" *ngIf="isPaginationOpen"></button>
  <div id="blocker" [ngClass]="{'block-screen': animateRight}"></div>
  <div id="leftBar" [ngClass]="{'animate-left': animateLeft}"></div>
  <div id="rightBar" [ngClass]="{'animate-right': animateRight}"></div>
  </div>