.button-container {
    position: fixed;
    top:50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .button-left, .button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
  }
  .button-right{
    transform: translateX(93vw);
  }
  
  .button-left:hover, .button-right:hover {
    background-color: #aaa;
    cursor: pointer;
  }
  
  .button-left:before {
    content: "<";
  }
  
  .button-right:before {
    content: ">";
  }
  